
html, body {
	padding: 0;
	margin: 0;
}
title {
	display: inline-block;
}

ul {
	background-color: grey;
	list-style-type: none;
	padding: 0;
	margin: 0;
}	

li {
	display: inline;
	float: left;
	border-right: 1px solid black;	
}

li:last-child {
	border-right: none;
}

li a {

	display: block;
	color: white;
	text-align: center;
	padding: 14px 40px;
	text-decoration: none;
}



.header {
	margin: 0;
}

a {
	font-size: 2em
	text-decoration: none;
	color: #ffe699;
}

body {
	background: url(ucsb.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-color: black;
	background-attachment: fixed;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	webkit-background-size: cover;
	
}

h1 {
	color: #B8860B;
	font-family: Nova Flat, Helvetica;
	font-size: 2em;
	position: relative;
	margin: auto;
	text-align: center;
		
}


 li a:hover {
	background-color: black;
	}

} 



